GROQ_API_KEY=your_groq_api_key_here
SOLANA_RPC_URL=https://api.devnet.solana.com
PROGRAM_ID=DgjQCmPvs3FHSk3DdPskVy6zifMC93LqWe3en7jEmtzF
ORACLE_PRIVATE_KEY=your_solana_wallet_private_key_as_array
SENTIMENT_ACCOUNT=4RgDj27rUJiQRyP3Hx4RzEoK1afks9PrVr52rgThNK9W
